* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background: #17181a;
    color: #e4e4e4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.tabs {
    margin-top: 15px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
}

.tabs button {
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    background: #d6d9e6;
    cursor: pointer;
    transition: 0.4s;
    font-weight: 400;
}

.tabs button.active {
    background: #1f5eff;
    color: #fff;
}

.tabs button:hover {
    transform: scale(1.10);
}

#card-container {
    width: 360px;
    height: 260px;
    perspective: 900px;
    margin-top: 25px;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 14px;
    background: #252525;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card.flip {
    transform: rotateY(180deg);
}

.card-side {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 14px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.front {
    background: #222222;
}

.back {
    transform: rotateY(180deg);
    background: #222222;
    color: white;
}

.card h2 {
    font-size: 1.8rem;
    margin-top: 10px;
}

.card small {
    opacity: 0.8;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

button.know, button.dont-know, button.flip-btn {
    padding: 10px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}

.flip-btn {
    margin-top: -10px;
    margin-right: -8px;
    align-self: flex-end;
    background: rgba(255,255,255,0.1);
    color: #fff;
}

.flip-btn:hover {
    transform: scale(1.05);
}

.know {
    background: #27c94d;
    color: #fff;
}

.dont-know {
    background: #e63946;
    color: #fff;
}

.know:hover,
.dont-know:hover {
    transform: scale(1.05);
}

.sound-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    border: none;
    background: rgba(255,255,255,0.1);
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.sound-btn:hover {
    transform: scale(1.1);
    background: rgba(255,255,255,0.2);
}

